@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base {
   h1, h2, h3 {
    @apply font-craftgothicRegular font-semibold;
  } 
   p {
    @apply font-craftgothicRegular font-semibold;
  } 
} */

@layer base {
  h1, h2, h3 {
   @apply font-acariSans font-semibold;
 } 
  p {
   @apply font-acariSans font-semibold;
 } 
}

/* @layer base {
  h1, h2, h3 {
   @apply font-compita font-semibold;
 } 
  p {
   @apply font-compita font-semibold;
 } 
} */



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Craft Gothic';
  src: url('/fonts/CraftGothic-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Craft Gothic Regular';
  src: url('/fonts/CraftGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Compita';
  src: url('/fonts/Fontspring-DEMO-compita-regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AcariSans';
  src: url('/fonts/AcariSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  /* font-family: 'Craft Gothic Light', sans-serif; */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
